html, body { color: white;position: relative;font-weight: 600; display: flex; justify-content: center; align-items: center; width: 100%; height: 100vh; overflow: hidden; background-image: url("https://source.unsplash.com/1600x900/?kolkata"); font-family: Ubuntu, sans-serif; }
.card { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); display: flex; justify-content: center;  }
.left-side { margin-right: 14px; }
.card1 { padding-bottom: 31px; }
.search-bar { border: none; outline: none; padding: 0.4em 1em; border-radius: 4px; background: rgba(252, 252, 252, 0.824); color: black; font-family: inherit; font-size: 105%; width: calc(100% - 100px); margin-right: 0px; }
button { padding-top: 14px;border: none; outline: none; margin-left: 7px;background-color: rgba(0, 0, 0, 0); color: black; font-family: inherit; border-radius: 50%; height: 35px; width: 35px; }
.card1, .card2, .card3 { border: none; border-radius: 20px; color: black;}
.card2, .card3 {padding: 5px; box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.377); backdrop-filter: blur(10px);}
.card2{
    background: #2830480c;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #85939810, #283048);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #8593980e, #28304815); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.card3{
    background: #2830480c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #85939810, #283048);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #8593980e, #28304815); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}    
.card2 {width: 300px;padding: 29px;}
.info { font-size: 16px; display: flex; margin-top: 12px; margin-bottom: 12px;  }
.card3 {/* height: 80%; */bottom: 0px;width: 200px;padding: 29px;}
.right-side { display: flex; align-items: center; }
.forecast {font-size: 24px;font-weight: 600;padding-bottom: 38px;}
.temp{margin-bottom: 0px;}
.city{margin-bottom: 56px;}
.weather.loading {visibility: hidden; max-height: 20px; position: relative;}
.weather.loading:after {visibility: visible; content: "Loading..."; color: white; position: absolute; top: 0; left: 20px;}
.nav{
    position: absolute;
    letter-spacing: 4px;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    backdrop-filter: blur(10px);
}
.white, .black, .purple{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 10px;
}
.white{
    background-color: white;
}
.black{
    background-color: black;
}
.purple{
    background-color: purple;
}